
h1{
    text-align: center;
    color: rgb(236, 178, 233);
    text-transform: uppercase;
    text-decoration: underline;
}
h2{
    color: rgb(240, 230, 217);
    text-transform: capitalize;
}

p{
    color: rgb(213, 235, 23);
}
nav a{
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    font-weight: bold;
}
body{
    background-color: rgb(185, 123, 139);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgba(89, 72, 165, 0.7);
    padding: 15px;
}
img{
    height: 500px;
    width: 400px;
    border-radius: 10px;
}
